@import "./reset.scss";
@import "./color.scss";

// Pretendard font
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

div,
ul {
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $bgDark800;
  }
}

#root {
  width: 350px;
  height: 400px;
  position: relative;

  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;

  background-color: $bgDark700;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.input__area {
  width: 100%;
  position: relative;

  input {
    width: 100%;
    height: 45px;

    box-sizing: border-box;
    padding: 0px 10px;
    border: none;
    border-radius: 5px;

    background-color: $bgDark600;
    color: $textGray200;
    font: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;

    &::selection {
      background-color: $bgDark800;
    }

    &::placeholder {
      color: $textGray400;
    }

    &:focus {
      outline: 2px solid $textGray200;
    }
  }
}

.list__area {
  flex: 1;
  width: 100%;
  position: relative;

  box-sizing: border-box;
  padding: 0px 10px;
  border: none;
  border-radius: 5px;

  background-color: $bgDark600;

  overflow-y: auto;

  li {
    width: 100%;

    box-sizing: border-box;
    padding: 10px 3px 5px 3px;
    border-bottom: 1px solid $textGray500;

    color: $textGray300;
    font: inherit;
    font-size: 14px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    p {
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 25px;

      &::selection {
        background-color: $bgDark800;
      }
    }
  }
}
